


// Update some of Bulma's component variables
$control-border-width: 2px;
$desktop: 1300px;
// Import only what i need from Bulma

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";

html{
  background-color: #fff;
  min-height: 100%;

}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.25em;
  .is-dark-mode {
    background-color: #111;
    color: #eee;
  }
}
