// Set brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$grey-light: $beige-light;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-background-color: transparent;
$navbar-padding-horizontal: 0.9rem;
$navbar-item-img-max-height: 2.5rem;
$desktop: 1300px;
$dropdown-menu-min-width: 14rem;
$dropdown-content-offset: -15px;
$dropdown-content-padding-bottom: 0.6rem;
// Import only what you need from Bulma

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";

html{
  background-color: #fff;
  min-height: 100%;

}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.25em;
  .is-dark-mode {
    background-color: #111;
    color: #eee;
  }
}
